#header {
    display: flex;
    justify-content: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #C22C2C;
    padding-right: 50px;
}

main {
    width: 100%;
    height: 100%;
    padding: 50px;
}

h1 {
    color: white;
    font-size: 32pt;
    font-family: 'Annie Use Your Telescope',
        cursive;
    margin: 0px;

}

.nav-item {
    color: white;
    font-size: 14pt;
    font-family: 'Raleway',
        sans-serif;
    margin: 0px;
}

.nav-link {
    color: white;
    font-family: 'Raleway',
        sans-serif;
}

.nav-link.active {
    font-weight: bold;
}

.nav-pills {
    --bs-nav-pills-border-radius: 0.375rem;
    --bs-nav-pills-link-active-color: #0D0628;
    --bs-nav-pills-link-active-bg: white;
}

.nav {
    --bs-link-hover-color: black;
}

#Biography {
    width: 70%;
    height: 100%;
    background-color: white;
    float: left;
}

p {
    font-family: 'Raleway',
    sans-serif;
    margin-bottom: 30px;
}

#tableInfo {
    width: 25%;
    height: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #0D0628;
    background-color: white;
    float: right;
}

.containerTab {
    display: flex;
    background-color: #0D0628;
    height: 55px;
    justify-content: center;
    align-items: center;
}

h3 {
    margin: 0px;
    font-family: 'Raleway',
        sans-serif;
    font-weight: bold;
    color: white;
}

#tableTemp {
    width: 100%;
    display: flex;
    justify-content: row;
    justify-content: space-around;
    align-items: center;
}

.temp {
    padding: 5px;
    font-size: 12pt;
    font-family: 'Raleway',
        sans-serif;
}

.select {
    padding: 5px;
    font-size: 12pt;
    font-family: 'Raleway',
        sans-serif;
    font-weight: bold;
    color: #C22C2C;
}

#imagesTemp {
    display: flex;
    justify-content: center;
}


#imageOn {
    justify-content: center;
    width: 90%;
}

h4 {
    margin: 0px;
    font-size: 16pt;
    font-family: 'Raleway',
        sans-serif;
    font-weight: bold;
    color: white;
}

#description {
    display: flex;
    flex-direction: column;
}

.desSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

hr {
    margin: 0px;
}

.subtitle {
    margin: 10px;
    font-size: 12pt;
    font-family: 'Raleway',
        sans-serif;
    font-weight: bold;
}

.txt {
    margin: 10px;
    font-size: 12pt;
    font-family: 'Raleway',
        sans-serif;
}

.logoCdm {
    width: 80%;
    padding-bottom: 10px;
    margin: 10px;
}

h2 {
    color: #0D0628;
    font-family: 'Raleway',
        sans-serif;
}

#galería {
    width: 100%;
    height: 100%;
    float: left;
}

.carousel-inner {
    width: 70%;
   margin: 0px;
}

.carousel-item {
    float:none
   
}